# Ignore everything
*

# Don't ignore directories, so we can recurse into them
!*/

# Don't ignore 
!*.c
!*.cpp
!*.h

# Now exclude our type
!Makefile
!configure
!LICENSE
!README.md
!.gitignore
!.git/
