Package: docklight
Version: 1.0-4
Architecture: amd64
Maintainer: Juan R. Gonzalez <j-gonzalez@email.de>
Installed-Size: 1429
Depends: libwnck-3-common, libwnck-3-dev, libc6-dev, libgtkmm-3.0-dev (>= 3.0), debconf
Section: utils
Priority: optional
Homepage: https://github.com/yoosamui/DockLight
Description: This program shows a Dock Panel with window preview.
 Docklight is a Linux GNOME dock utility
 for opening common applications.
