[Desktop Entry]
Name=DockLight
Version=1.0
Exec=/usr/local/bin/docklight
Comment=This program is a lightweight Dock launcher for common Applications.
Icon=/usr/local/bin/docklight.data/docklight.home.ico
Type=Application
Terminal=false
StartupNotify=false
Encoding=UTF-8
Categories=Utility;

