Package: docklight-1.0
Version: 1-1
Architecture: amd64
Maintainer: Juan Gonzalez <j-gonzalez@email.de>
Installed-Size: 1419
Depends: libwnck-3-common, libwnck-3-dev, libc6-dev, libgtkmm-3.0-dev (>= 3.0)
Section: Utility
Priority: optional
Homepage: https://github.com/yoosamui/DockLight
Description: this programm shows a simple Dock Panel with window preview.
 Docklight is an easy Linux gnome dock application for opening common applications.
