Source: docklight-1.0
Section: Utility
Priority: optional
Maintainer: Juan Gonzalez <j-gonzalez@email.de>
Build-Depends: debhelper (>= 9), autotools-dev
Standards-Version: 3.9.8
Homepage: https://github.com/yoosamui/DockLight
#Vcs-Git: https://anonscm.debian.org/collab-maint/docklight-1.0.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/docklight-1.0.git

Package: docklight-1.0
Architecture: any
Depends:  libwnck-3-common, libwnck-3-dev, libc6-dev, libgtkmm-3.0-dev (>=3.0)
Description: this programm shows a simple Dock Panel with window preview.
 Docklight is an easy Linux gnome dock application for opening common applications.

