[Desktop Entry]
Name=DockLight
Version=1.0
Exec=/usr/lib/docklight/docklight
Comment=this programm shows a simple Dock Panel with window preview.
Icon=/usr/share/pixmaps/docklight.home.ico
Type=Application
Terminal=false
StartupNotify=false
Encoding=UTF-8
Categories=Utility;

