[Desktop Entry]
Name=DockLight
Version=1.0
Exec=/usr/lib/docklight/bin/docklight
Comment=this programm shows a simple Dock Panel with window preview.
Icon=docklight.home
Type=Application
Terminal=false
StartupNotify=false
Encoding=UTF-8
Categories=Utility;

