[Desktop Entry]
Name=DockLight
Version=1.0
Exec=/usr/lib/docklight/docklight
Comment=This program is a lightweight Dock launcher for common Applications.
Icon=/usr/share/pixmaps/docklight.home.ico
Type=Application
Terminal=false
StartupNotify=false
Encoding=UTF-8
Categories=Utility;

