Package: docklight-1.0-dbgsym
Source: docklight-1.0
Version: 1-1
Architecture: amd64
Maintainer: Juan Gonzalez <j-gonzalez@email.de>
Installed-Size: 785
Depends: docklight-1.0 (= 1-1)
Section: debug
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: Debug symbols for docklight-1.0
Auto-Built-Package: debug-symbols
Build-Ids: bfc8b8a07635653856f5dcf9e915440c6c61e054
